.menu-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
	background-image: url('https://i.ibb.co/bH3JY30/IE1G7Lr.png');
	background-size: cover;
	background-position: center;
}

.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  list-style: none;
}